INFLUXDB__HOST="127.0.0.1"
INFLUXDB__PORT="8086"
INFLUXDB__ORG="my-org"
INFLUXDB__BUCKET="my-bucket"
INFLUXDB__PUSH_TOKEN="<generated-push-token-for-desired-bucket>"

# #########################################################################

DOCKER_INFLUXDB_INIT_USERNAME="admin"
DOCKER_INFLUXDB_INIT_PASSWORD="<super-secret-password>"
# DOCKER_INFLUXDB_INIT_ADMIN_TOKEN="<custom-admin-token>"

# #########################################################################

IPERF3__HOST="127.0.0.1"
# IPERF3__PORT="5201"
# IPERF3__PROTOCOL="tcp"
# IPERF3__DIRECTION="download"
# IPERF3__STREAMS="5"
# IPERF3__DURATION="30"
LOOP_IPERF=false

# #########################################################################

WIRELESS_INTERFACE__NAME="wlan0"